body{
    display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
}
.container {
    width: 50%;
    box-shadow: lightgray 4px 4px 20px;
    border-radius: 10px;
    .articleForm {
    margin: 20px auto;
        padding: 10px 30px;
    }}
        .ng-valid[required],
        .ng-valid.required {
            border-left: 5px solid #42A948;
            /* green */
        }
    
        .ng-invalid:not(form) {
            border-left: 5px solid #a94442;
            /* red */
        }