{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>

<h1>Welcome to Talan </h1>
{% if app.user %}
	<div class="mb-3">
		You are logged in as
<p class="text-info">{{ app.user.username }}</p>


		
	</div>
{% endif %}


 

<p></p>

{% endblock %}