.home {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
a {
        color: white;
        text-decoration: none;


        border-radius: 4px;
        display: block;
        width: 100%;
    }
}
